body{
    margin: 0;

}
a{
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
}
.principal{
    border: 1px solid black;
    background: white;
    display: flex;
    width: 1440px;
    /*height: 1024px;*/
    flex-wrap: wrap;
    flex-flow: row;
    margin: 0 auto;
    background-image: url(../assets/img/7597326_1.jpg);
}

.header{
    display: flex;
    background: rgba(217, 217, 217, 0.2);
    width: 1440px;
    height: 75px;
    justify-content: flex-end;
    flex-wrap: wrap;
}
header>div{
    width: 1440px;
}
.flex{
    display: flex;
    flex-direction: row
}
.flex-izq{
    
}
.logo > .header{
    display: flex;
    height: 28px;
    width: 89px;
    margin-top: 10px;
    margin-left: 60px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 10px;
    text-align: center;
}
.about{
    display: flex;
    width: 58px;
    height: 23px;
    margin: 10px;
    line-height: 23px;
}
.blog{
    display: flex;
    width: 54px;
    height: 23px;
    margin: 10px;
    line-height: 23px;
}
.contact{
    display: flex;
    width: 105px;
    height: 23px;
    margin: 10px;
    line-height: 23px;   
}
.lin{
    display: flex;
    width: 100px;
    height: 100px;
}
.izq{
    display: flex;
    flex-direction: column;
    width: 720px;
    height: 1024px;
}
.titol{
    display: flex;
    width: 553px;
    height: 147px;
    line-height: 147px;
}
.text{
    display: flex;
    width: 228px;
    height: 70px;
    line-height: 70px;
}
.dere{
    display: flex;
    width: 720px;
    height: 1024px;
}
.click{
    display: flex;
    width: 109px;
    height: 18px;
    line-height: 18px;
}
.circleclick{
    position: absolute;
    width: 199px;
    height: 82px;
}
.img1{
    position: absolute;
    width: 276px;
    height: 276px;
}
.img2{
    position: absolute;
    width: 222px;
    height: 222px;
}
.star{
    display: flex;
    width: 60px;
    height: 75px;
}
.center{
    position: absolute;
}
.plant{
    position: absolute;
    width: 191px;
    height: 193.47px;
}
.starplant{
    position: absolute;
    width: 74px;
    height: 80px;
}